<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <!--bannercode-->
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-lg-6 col-md-6  col-12 main-header-left">
                <p>Welcome to weather app</p>
                <h1>{{errmsg}}</h1>
              </div>
              <div class="col-lg-6 col-md-6 col-12 main-header-right">
                <div>
                    <img src="image/404png.jpg" alt="">
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--footer code--> 
    {{>footer}}
</body>
</html>