<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
   {{>navbar}}
    <!--bannercode-->
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row"> 
              <div class="col-lg-6 col-md-6 col-12 main-header-left">
                <div>
                    <img src="image/man.png.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6  col-12 main-header-right">
                <p>Welcome to weather app</p>
                <h1>Get The Latest <span>Weather</span> Info For Your City</h1>
                <a href="/weather"><button>Check Now</button></a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--footer code--> 
   {{>footer}}
</body>
</html>